/*******************************
fonts to use
font-family: 'Quicksand', sans-serif;
font-family: 'Alegreya Sans', sans-serif;
font-family: 'Comfortaa', cursive;
font-family: 'Kurale', serif;*/



/********
 site body
 *******/
a { text-decoration: none;}
body{
  font-family: 'Quicksand', sans-serif;
  }
#wrapper {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;

img {
  max-width: 100%;
}
}
.wrapper {
  width: 70%;
  margin: 0 auto;
}

  /********
   Heading
   *******/


 #heading {
   text-align: center;
   margin: 5%;
   color: #FFF;
   line-height: 0.8em;

 }
h1 {
  font-family: 'Kurale', serif;
  font-size: 3em;
}
h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 1.8em;
  margin-top: 0
  ;
}
/********
navagation
*******/
nav{

  background: #445D7B;
  margin: 10px 0 0;
  padding: 10px;
  text-align: center;
  border-top: 2px solid #3D556D;
  border-bottom: 2px solid #3D556D;
}
nav ul{
  list-style: none;
  margin: 0 10px;
  padding: 0
}
nav li {
  display: inline-block;
  padding: 0 30px 0;
}


/********
 gallery
 *******/

 #gallery1 {
   margin: 0;
   padding: 10px;
   list-style: none;
 }
 #gallery1 li {
   float: left;
   width: 45%;
   margin: 2.5%;
   background-color: #A9B3C1;
   color: #fff;
   text-align: center;
 }


 #gallery2 {
   margin: 0;
   padding: 10px;
   list-style: none;
 }
 #gallery2 li {
   float: center;
   width: 100%;
   margin: 2.5%;
   background-color: #A9B3C1;
   color: #fff;
   text-align: center;
 }
 #gallery2 p {
   padding: 2px;
 }


 #gallery3 {
   margin: 0;
   padding: 10px;
   list-style: none;
 }
 #gallery3 li {
   float: left;
   width: 45%;
   margin: 2.5%;
   background-color: #A9B3C1;
   color: #fff;
   text-align: center;
 }
 /*********************
 code for fade
 *********************/

  .container {
   position: relative;
   width: 100%;
 }
 .overlay {
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   height: 100%;
   width: 100%;
   opacity: 0;
   transition: .5s ease;
   background-color: #445D7B;
 }

 .container:hover .overlay {
   opacity: 1;
 }

 .text {
   color: white;
   font-size: 20px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   -ms-transform: translate(-50%, -50%);
 }

  /********
  Colors
  *******/
  /* site body*/

  body {
    background-color: #fff;
    color: #445D7B;
  }
  header {
    background: #60718D;
    border-color: #000;
  }
  ul p{
    color: #fff}

  /* Links */
  a {
    color:#445D7B;}

  /* navagation*/
  nav a, nav a:visited {
     color: #fff;
   }
   /* nav selected and hoverstate*/
  nav a.sel, nav a:hover
        { color: #677993;}
  /********
  footer
  *******/
  footer {
     text-align: center;
     font-size: .8;
     color: #445D7B;
     clear: both;

   }
#script {
  text-align: center;
}
.icon {
  width: 40px;
  hiegth: 40px;
  margin: 0 5px;
}
